/* Подключаем Шрифты */
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
		url('../fonts/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/Montserrat-Medium.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold.woff')	format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
		url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold.woff')	format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 800;
}

/*  */
:root {
	--color-white: #fff;
	--color-text-site: #333;
	--color-btn-gold: #FF9900;
	--color-heading-section: #333;
	--color-text-footer: #cacaca;
}

/*Common styles*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat' , sans-serif;
	background-color: var(--color-white);
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.img {
	width: 100%;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
}

/* Заголовок Секции */
.section-title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	margin-right: 535px;
	color: var(--color-heading-section);
}

/* Заголовки и описание внутри секций */

.section-sub__title {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: var(--color-text-site);
}

.section-sub__description {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-text-site);
}


/* Header and menu (Шапка и меню) */
.header {
	height: 100px;
	background-color: var(--color-white);
	/*box-shadow смещение по ширине | смещение по высоте | радиус размытия | растяжение | цает */
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.logo {
	margin-right: auto;
	margin-bottom: -5px;
}

.nav__list {
	display: flex;
	margin-top: 7px;
}

.nav__item:not(:last-child) {
	margin-right: 90px;
}

.nav__item:nth-child(1) {
	margin-right: 88px;
}

.nav__item:nth-child(2) {
	margin-right: 88px;
}

.nav__item:nth-child(3) {
	margin-right: 83px;
}



.nav__item {
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

}

.nav-search-link {
	margin-left: 71px;
}

.nav-search-img {
	margin-bottom: -11px;
    margin-right: 11px;
}

/* Banner and Slider (Баннер и слайдер) */

.container-banner-img {
	background-image: url(../img/main-banner.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	height: 620px;
	border: none;
	padding-top: 100px;
	padding-left: 78px;
}

.banner-content {
	max-width: 841px;
	position: absolute;
}

.banner-content__title {
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 69px;
  line-height: 90px;
  letter-spacing: 2px;
	color: var(--color-white);
}

.banner-content__description {
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 23.4581px;
	line-height: 29px;
	color: var(--color-white);
	padding-top: 15px;
	padding-bottom: 96px;
}

.banner-content__btn {
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 23.4581px;
	line-height: 29px;
	color: var(--color-white);
	/* margin-top: 30px; */
	background-color: var(--color-btn-gold);
	padding: 25.83px 37.14px;
	display: inline-block;
	max-width: 281px;
	margin-left: 3px;
}

/* About Us (О нас) */

.section-about-us {
	margin-top: 100px;
}

.about-us__description {
	margin-top: 23px;
	margin-right: 535px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-text-site);
}

/* О Нас Нижняя часть  */

/* Общий нижний box для левой и правой частей */
.about-us-down-box {
	display: flex;
	justify-content:space-between;
	margin-top: 40px;
	/* background-color: turquoise; */
}

/* О Нас Левая часть Фото + Подробнее */
.about-us-down-box-left {
	background-image: url(../img/abuot-as-left-foto.png);
	background-size: cover;
	background-repeat: no-repeat;
	flex:	0 0 870px;
	/* background-color: rgb(65, 63, 63); */
}

/* блок Тени */
.about-us-down-box-left-shadow {
	display: flex;
	margin-top: 446px;
	background: rgba(0, 0, 0, 0.5);
}

/* О нас левая часть Описание */
.about-us-down-box-left-shadow__description {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	display: flex;
	margin: 42px 0 42px 56px;
	color: var(--color-white);
}

/* О нас Левая часть Кнопка */
.about-us-down-box-left-shadow__btn {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	margin: 58px 65px 58px 60px;
	padding: 19px 38px;
	color: var(--color-white);
	background-color: transparent;
	border: solid 3px #FF9900;
}


/* О нас Нижняя правая часть из Двух блоков */
.about-us-down-box-right {
	margin-left: 30px;
	/* background-color: rgb(72, 109, 190); */
}

/* О нас правые блоки фото*/
.about-us-down-box-right-top {
	background-image: url(../img/right-dox-1.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 61px 74px;
	border: solid 3px #cacaca;
}

.about-us-down-box-right-bottom {
	background-image: url(../img/right-dox-2.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 61px 45px;
	border: solid 3px #cacaca;
	margin-top: 30px;
}

/* Правый верхний блок текст */
.about-us-down-box-right-top__content {
	margin: 72px 88px 72px 300px;
}

/* Правый нижний блок текст*/
.about-us-down-box-right-bottom__content {
	margin: 60px 88px 66px 300px;
}

/* Правые блоки заголовок и описание */
/* смотрим в общих стилях section-sub__title section-sub__description */


/* How We Work (Как мы работаем) */

.section-how-we-work {
	margin-top: 100px;
}

.how-we-work-container {
	background-image: url(../img/how-we-work-foto-step-1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom right;

}

/* Как мы работаем шаги 1-4 */
.how-we-work__list {
	margin-top: 50px;
	margin-left: 3px;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: var(--color-text-site);
}

.how-we-work__item:nth-child(2) {
	margin-left: 89px;
}

.how-we-work__item:nth-child(3) {
	margin-left: 87px;
}

.how-we-work__item:nth-child(4) {
	margin-left: 90px;
}

/* box проводим консультацию и текст */
.box-make-consultation {
	width: 758px;
	margin-top: 47px;
  margin-left: 2px;
}

/* Как мы работаем box кнопок Подробнее Договор */
.how-we-work__button {
	margin-top: 64px;
	margin-left: 2px;
	display: flex;
}

/* Как мы работаем Кнопка подробнее */
.how-we-work__button-more {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 175px;
	padding: 20px 38px;
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: var(--color-white);
	background-color: var(--color-btn-gold);
	/* margin-left: 4px; */
}

/* Как мы работаем кнопка Договор */
.how-we-work__button-contract {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 147px;
	border: 1px solid #333333;
	padding: 19px 38px;
	margin-left: 30px;
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: var(--color-text-site);
	background-color: transparent;
}




/* FAQ (Часто задаваемые вопросы) */
.section-faq {
	margin-top: 100px;
}
